.banner {
    height: 300px;
    background-color: darkviolet;
    text-align: center;
    padding-top: 100px;
}

.webtext {
    height: 150px;
    text-align: center;
    padding-top: 40px;
    background-color: #8af2bb;
}